header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
header h1{
    font-size: 3rem;
    margin: 0;
}
.contenedor-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    place-content: center;
    min-height: 70vh;
}
.card{
    height: 600px;
    width: 300px;
    border: solid 1px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 2rem;
}
.card img{
    height: 300px;
    width: 250px;
    object-fit:cover;
}
.card strong{
    font-size: 1.5rem;
}
.card p{
    text-align: center;
    font-size: 1.2rem;
}
.card span{
    width: 90%;
}
footer{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    text-align: center;
    font-size: 1.18em;
    margin: 0;
    width: 100%;
}